Examples/SlidingPanelController.xcodeproj/project.xcworkspace/xcuserdata
Examples/SlidingPanelController.xcodeproj/xcuserdata
Examples/SlidingPanelControllerStoryboard.xcodeproj/project.xcworkspace
Examples/SlidingPanelControllerStoryboard.xcodeproj/xcuserdata
